    body {
        background-color: rgb(230, 230, 160);
        background-image: url('1130461.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    h1 {
        color: rgb(255, 2, 2);
    }
    p{
        border: 2px solid powderblue;
        padding: 20px   ;
        font-family: Arial, sans-serif;
        font-size: large;
    }
    a{
        text-decoration: none;
        color: rgb(2, 0, 128);
        font-weight: bold;
    }
    a:hover {
        color: red;
    }
    a:link {
        color: blue;
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: purple;
        background-color: transparent;
        text-decoration: none;
    }
    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: none;
    }
    table {
        border: 10px solid black;
      
        background-color: white;
        border-radius: 0px;
    }
    th, td {
        padding: 15px;
        text-align: center;
        border-radius: 50px;
    }
    
